html {
  --colorBlue: #3a5e9c;
  --colorMainGrey: #666;
}

body {
  color: var(--colorMainGrey);
  max-width: 700px;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}

/*=================*/
/* HEADER */
/*=================*/

.menu {
  text-align: center;
  margin-top: 20px;
  padding: 5px;
  font: 1.2rem Verdana, sans-serif;
  border-top: 1px solid var(--colorBlue);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

.menu.top {
  border-bottom: 1px solid var(--colorBlue);
}

.menu.bottom {
  font-size: 0.8rem;
}

.menu a {
  display: block;
  text-decoration: none;
  color: #777;
  margin: 5px 10px;
}


/*=================*/
/* MAIN CONTAINER */
/*=================*/

.main_box {
  font: 1.2em Georgia, serif;
  min-height: 450px;
}

h1 {
  font-family: Georgia, serif;
  font-size: 2rem;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 10px;
}

h1, h2, h3 {
  text-align: center;
  color: var(--colorBlue);
  font-weight: normal;
}

h2 {
  font-family: Roboto, sans-serif;
  font-size: 1.3rem;
  margin-top: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid var(--colorBlue);
  border-bottom: 1px solid var(--colorBlue);
}

h3 {
  font-family: Roboto, sans-serif;
}

p {
  line-height: 1.5;
}

p a {
  color: var(--colorMainGrey);
}

li {
  margin-bottom: 10px;
}

.logical-block {
  margin-bottom: 60px;
}

/* Main images */
.image-box-size-big {
  max-width: 600px;
}

.image-box-size-med {
  max-width: 40%;
}

.blur-image-box {
  box-shadow: inset 0 0 15px 20px #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

.blur-image-box img {
  width: 100%;
  position: relative;
  z-index: -1;
}

.contacts img {
  margin-bottom: -8px;
  margin-right: 5px;
}

/* Contact buttons */
.contact_buttons_box {
  text-align: center;
  margin: 0 auto;
}

.contact_buttons_box a {
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  background: var(--colorBlue);
  border-radius: 20px;
  padding: 15px 20px;
  margin: 15px 10px;
  font: 1.3em 'Roboto', sans-serif;
}


.payment-logo {
  height: 50px;
}





